* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::placeholder {
  color: black;
  font-size: 18px;
}

.img {
  height: 50px;
  width: 50px;
}
.top-article {
  margin: 2%;
}
.jon {
  display: flex;
}
.profile {
  float: right;
  margin-right: 2%;
}

.topic {
  text-align: center;
  margin-top: -50px;
}

.comment-input::placeholder {
  color: lightblue;
  padding-left: 3%;
}

.blue-grey {
  margin: 2%;
}
